<html>
	<head>
		<title>Flappy Pong</title>
		<script type=text/javascript src="static/javascript/jquery-3.2.1.min.js"></script>
		<script tyle="text/javascript" src="static/javascript/flappy_pong/p5.js"></script>
		<script tyle="text/javascript" src="static/javascript/flappy_pong/flappy_pong.js"></script>
<script>
$.ajax({
            url: '/flappypong',
            data: JSON.stringify("get"),
            type: 'POST',
			contentType: 'application/json;charset=UTF-8',
            success: function(response) {
				console.log(response)
				$('#scores tr').remove();
				for (table in response){
				var lst = []
				for (var score in response[table]) {
    			lst.push([score, response[table][score]]);
				}
				lst.sort(function(a, b){
					return a[1] - b[1];
				});
				var id = (table == "global_top" ? "scores" : "p_scores")
				var table = document.getElementById(id);
				console.log(lst[0]);
				
				if (id == "p_scores"){
					if (lst[0][1] == "Anonymous user"){
					var row = table.insertRow(0);
    				var cell1 = row.insertCell(0);
					cell1.innerHTML = "Anonymous user"
					} else {
						for (var i = 0; i < lst.length; i++) {
    					var row = table.insertRow(0);
    					var cell1 = row.insertCell(0);
    					cell1.innerHTML = lst[i][1];
				}
						}
				} else {
			for (var i = 0; i < lst.length; i++) {
    			var row = table.insertRow(0);
    			var cell1 = row.insertCell(0);
    			var cell2 = row.insertCell(1);
    			cell1.innerHTML = lst[i][0];
    			cell2.innerHTML = lst[i][1];
				}
				}
				}
            },
            error: function(error) {
                console.log(error);
            }
        });
</script>
		<style>
			#container{
	
	display: flex;
	margin-top: 5%;
	
}			
			
			table, th, td {
    			border: 1px solid black;
				text-align: center;
				font-size: 100%;
				margin-left: 3%;
			}
			canvas {
				box-shadow: 0 0 20px lightgray;
				padding-left: 0;
    			padding-right: 0;
    			margin-left: 10%;
    			margin-right: auto;
    			display: block;
			}
			
			
		</style>
	</head>
	<body>
	<div id='container'>
	</div>
	</body>
</html>
