body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 16px;
}

.register-card h1{
  top: 0;
}
.register-card {
  display: flex;
  align-items: center;
  width: 325px;
  height: 485px;
  background:  $white;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 30px 10px rgba(203,203,199,0.38);
}
