{% extends "bootstrap/base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
  <h3>Welcome, {{ current_user.id }}!</h3>
{% endif %}

<a href="/home">Home</a>

<div>
<h1>Delete account?</h1>
<form action='deleteAccount' method='POST'>
<input type='password' name='pw' id='pw' placeholder='password'></input>
<input type='password' name='pw2' id='pw2' placeholder="re-type password"></input>
<input type='submit' name='submit'></input>
</form>
{% if delErr %}
<p>Passwords do not match, or null values submitted.</p>
{% endif %}
</div>

{% endblock %}

