{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
     href="{{url_for('.static', filename='master.css')}}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">GameHub</a>
    </div>

{% if current_user.is_authenticated %}

<div id="navbar" class="navbar-collapse collapse">
  <form class="navbar-form navbar-right">
    <div class="form-group">
      <p>Welcome, {{ current_user.id }}!</p>
    </div>
    <button type="button" class="btn btn-info" onclick=window.location.href='/logout'>Log Out</button>
  </form>
</div><!--/.navbar-collapse -->
</nav>
{% endif %}

<div class='register-card'>
  <div class='register-card--title'>
    <h1>
      Delete Account
    </h1>
    <div class="form-group">
    <form class='deleteAccount' method='POST'>
    <div class="form-group">
      {{ form.password (class_="form-control") }}
  </div>
  <div class="form-group">
      {{ form.confirm (class_="form-control")}}
    </div>
	<input id="username" name="username" type=hidden value="{{ current_user.id }}">
    <button type="submit" class="btn btn-info" name='submit'>Submit</button>
	<!--<input type=hidden value="{{ next or '' }}" name=next>-->
  </div>
	{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
          {% for error in field_errors %}
            <li>{{ form[field_name].label }}: {{ error }}</li>
          {% endfor %}
          {% endfor %}
        </ul>
  {% endif %}
	</form>
</div>

</div>


{% endblock %}
