{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='master.css')}}">
{% endblock %}

{% block content %}

{% from "_formhelpers.html" import render_field %}
<h1>Register</h1>
<div>
<form method='POST'>
<dl>
	{{ form.csrf_token }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
</dl>
<p>
<input type=submit value=Register>
<input type=hidden value="{{ next or '' }}" name=next>
</form>
</div>

{% endblock %}

